//body {
//    background-color: #fefefe;
//    text-align: center;
//    h1 {
//      font-size: 40px;ap
//      margin-top: 30px;
//    }
//  }
//
.header-title {
  color: #ffa500;
  text-align: right;
  margin-top: 7vh;
  padding-bottom: 1.7vh;
  span {
    font-size:25px;
    margin-right:3vw;
  }
}

.home-image {
  margin-right: 35vw;
}
  